@model IEnumerable<Store.WEB.Models.GoodViewModel>

@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("GoodsSearch", new AjaxOptions()
{
    UpdateTargetId = "result",
    Url = Url.Action("GoodsSearch")
}))
{
    <div class="input-group">
        <fieldset class="adminRight">
            <legend>Фильтр</legend>
            <div class="adminRight">

                Цена:
                @Html.Editor("PriceFrom", new { htmlAttributes = new { @class = "form-control", style = "width: 80px; ", placeholder = "от" } })
                @Html.Editor("PriceTo", new { htmlAttributes = new { @class = "form-control", style = "width: 80px; ", placeholder = "до" } })

                Цвет:
                @Html.DropDownList("ColorId", ViewBag.Colors as List<SelectListItem>, new { @class = "btn btn-default dropdown-toggle" })
                <br />
                <br />

                Размер:
                от
                <input class="form-control" style="width: 50px" type="text" placeholder="Выс." name="SizeHFrom" />
                <input class="form-control" style="width: 50px" type="text" placeholder="Шир." name="SizeWFrom" />
                <input class="form-control" style="width: 50px" type="text" placeholder="Глуб." name="SizeDFrom" />
                до
                <input class="form-control" style="width: 50px" type="text" placeholder="Выс." name="SizeHTo" />
                <input class="form-control" style="width: 50px" type="text" placeholder="Шир." name="SizeWTo" />
                <input class="form-control" style="width: 50px" type="text" placeholder="Глуб." name="SizeDTo" />

                Категория:
                @Html.DropDownList("CategoryId", ViewBag.Categories as List<SelectListItem>, new { @class = "btn btn-default dropdown-toggle" })
                <input class="btn btn-primary adminRight" type="submit" value="Фильтровать" />
            </div>

            <div class="input-group" style="padding:5px">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                </span>
                <input type="text" class="form-control" name="search" placeholder="Введите запрос...">
            </div>

        </fieldset>
    </div>
}
<hr />

@using (Ajax.BeginForm("GoodsSearch", new AjaxOptions()
{
    UpdateTargetId = "result",
    Url = Url.Action("GoodsSearch"),
    OnSuccess = "ParseJson"
}))
{
}

<div class="clearBoth" id="result">
    @Html.Action("GoodsSearch")
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}