@using Store.DAL.Entities
@model IEnumerable<Store.DAL.Entities.OrderItem>

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Good.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>


            <th></th>
        </tr>

        @foreach (OrderItem item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Good.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="Make order"/>
}